# ── Base de datos (Supabase PostgreSQL via Pooler) ──
DATABASE_URL=postgresql://postgres.kjnkxxzwuyvtzvtggcsc:tH6wakuzhtCr0yJQ@aws-1-us-east-1.pooler.supabase.com:6543/postgres

# ── Supabase Storage ──
SUPABASE_URL=https://kjnkxxzwuyvtzvtggcsc.supabase.co
SUPABASE_KEY=sb_publishable_3-WpQU3R6sFXKPmhkkNiKA_5jzv8Z4F
